*{
    
}
body{
    background-color: beige;
}
.head{
    text-align: center;
    
}
h1{
    color: aquamarine;
    background-color: rgb(136, 161, 96);
}
.skills{
    color: blueviolet;
}
table{
   text-align: center;
   
    
}
th,td{
    width:200px;
    height: 30px;

}
.exp{
    color: rgb(11, 79, 119);
    
}
.prj{
    color: blueviolet;
}